<b><div id="clock"></div></b>

<form action="" method="post">

  <div class="container">
    <label  style="color:red">{{message}}</label><br>
    <label id="uname-label" for="uname"><b>Имя пользователя</b></label>
    <input [(ngModel)]="username" name="uname" type="text" placeholder="Введите имя" id="uname" required>

    <label id="psw-label" for="psw"><b>Пароль</b></label>
    <input [(ngModel)]="password" name="psw" type="password" placeholder="Введите пароль" id="psw" required>

    <button type="submit" (click)="login()" id="login-button"><b>ВОЙТИ</b></button>
    <button type="submit" (click)="register()" id="register-button"><b>РЕГИСТРАЦИЯ</b></button>

  </div>

</form>
