<button class="gradientButton" id="logoutButton" (click)="logout()">Выйти</button>
<button class="gradientButton" id="githubButton"><a target="_blank" href="https://github.com/R4MZEZ/web4">GitHub</a>
</button>

<div class="header-label" *ngIf="isModer && !isAdmin">Режим модератора</div>
<div class="header-label" *ngIf="isAdmin">Режим администратора</div>

<div id="content">
  <div id="leftbar">
    <app-graph [points]="points" [r]="selectedR" #graphComponent (resetTable)="clearTable()"></app-graph>
  </div>
  <div id="rightbar">
    <form id="field-form" method="GET">
      <fieldset style="border: none;">
        <label id="labelX">Выберите координату X: </label>
        <p-autoComplete [(ngModel)]="selectedX" name="X" [suggestions]="outputX" (completeMethod)="searchX($event)"
                        [dropdown]="true" [readonly]="true" placeholder="не выбрано"></p-autoComplete>
        <br/>


        <label id="labelY">Введите координату Y <b>[{{selectedY}}]</b>:</label>
        <br/><br/>
        <p-slider [(ngModel)]="selectedY" [ngModelOptions]="{standalone: true}" [min]="-5.0"
                  [max]="5.0" [step]="0.01"></p-slider>

        <br/>


        <label id="labelR">Введите параметр R: </label>
        <p-autoComplete [(ngModel)]="selectedR" name="R" [suggestions]="outputR" (completeMethod)="searchR($event)"
                        [dropdown]="true" [readonly]="true" (onSelect)="changeR(); graphComponent.redrawGraph()"
                        placeholder="не выбрано"></p-autoComplete>

        <br/><br/><br/>

        <button id="submit-button" type="submit" class="button" (click)="send()">
          Отправить
        </button>

        <button id="reset-button" class="button" (click)="graphComponent.reset(true)">
          Сбросить
        </button>

        <button id="invisible-button"
                style="display:none;" onclick="console.log('clicked')">
        </button>

      </fieldset>
    </form>
  </div>
  <app-moderator *ngIf="isModer" [isAdmin]="isAdmin" (userChange)="updateGraph(); updateTable()"></app-moderator>
</div>

<app-table [points]="points" [isModer]="isModer" (pointDeleted)="updateGraph(); updateTable()"></app-table>
