<form id="field-form" action="" method="POST">
  <fieldset style="border: none;">
    <label>Выберите координату X:</label>
    <p-autoComplete [(ngModel)]="selectedX" name="X" [suggestions]="outputX" (completeMethod)="searchX($event)"
                    [dropdown]="true" [readonly]="true" placeholder="Выбор"></p-autoComplete>
    <br/>


    <label>Введите координату Y [-5,3]:</label>
    <p-slider [(ngModel)]="selectedY" [ngModelOptions]="{standalone: true}" [min]="-5" [max]="5"></p-slider>


    <br/><br/>


    <label>Введите параметр R:</label>

    <br/><br/>

    <button id="submit-button" class="button"
            value="Отправить">
    </button>

    <button id="reset-button" class="button"
            value="Сбросить">
    </button>

    <button id="invisible-button"
            style="display:none;" onclick="console.log('clicked')">
    </button>

  </fieldset>
</form>
