#moderpanel{
  float:right;
  border: 2px solid coral;
  background-color: rgba(255, 127, 80, 0.3);
  padding: 5px 10px 15px 10px;
  border-radius: 30px;
  height: 200px;
  margin-top: 80px;
  text-align: center;
  margin-left: 50px;

}
