

<div id="moderpanel">
  <label id="successMessage">Успешно</label>
  <br>
  <p-autoComplete [(ngModel)]="selectedUser" name="selectedUser" [suggestions]="outputUsers" (completeMethod)="searchUser($event)"
                  [dropdown]="true" [readonly]="true" (onSelect)="changeUser()" class="moder-autocomplete"></p-autoComplete>
  <br>
  <p-autoComplete *ngIf="isAdmin" [(ngModel)]="selectedRole" name="selectedRole" [suggestions]="outputRoles" (completeMethod)="searchRole($event)"
                  [dropdown]="true"  [readonly]="true" (onSelect)="checkIfSameRole()" class="moder-autocomplete"></p-autoComplete>

  <br>
  <button *ngIf="isAdmin" id="change-button" class="button" (click)="changeRole()">
    Изменить
  </button>
  <button *ngIf="isAdmin" id="delete-button" class="button" (click)="deleteUser()">
    Удалить
  </button>
</div>
