<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<!--
Студент, выполнивший работу: Казаченко Роман Олегович
Группа: P3230
Вариант: 30007
-->

<head>
  <link rel="icon" href="../favicon.ico"/>
  <link rel="stylesheet" type="text/css" href="app.component.scss"/>
  <title>UsefulApp</title>
</head>

<body>
<script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<div id="container">
  <div>
    <app-header></app-header>
  </div>
  <div id="content">
    <div id="leftbar">
      <canvas id="canvas" width="300" height="300"></canvas>
    </div>
    <div id="rightbar">
      <app-form></app-form>
      <p-slider [(ngModel)]="title" [ngModelOptions]="{standalone: true}" [min]="-5" [max]="5"></p-slider>

    </div>
  </div>
  <label style="margin-left: 45%;">Журнал запросов</label>
  <br/><br/>
  <table id="historyTable"></table>
</div>
</body>

</html>

