<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<!--
Студент, выполнивший работу: Казаченко Роман Олегович
Группа: P3230
Вариант: 30007
-->

<body>
<script src="http://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<div id="container">
  <div>
    <app-header></app-header>
  </div>
  <app-form></app-form>
  <label style="margin-left: 45%;">Журнал запросов</label>
  <br/><br/>
  <table id="historyTable"></table>
</div>
</body>

</html>

