@media (max-width: 1046px) and (min-width: 738px) {
  #canvas {
    height: 250px;
    width: 250px;
    margin-top: 30px;
    margin-left: 30px;
  }
}

@media (min-width: 1046px) {
  #canvas {
    padding: 10% 10% 10% 10%;
    /*height: 300px;*/

  }
}

@media (max-width: 738px) {
  #canvas {
    margin: 0 50% 0 50%;
    height: 400px;
    width: 400px;
  }
}
